/*mainStyle.css*/
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    /* 隐藏滚动条 */
    overflow: hidden;
    scrollbar-width: none;
}

@font-face {
    font-family: "smiley-sans";
    src: url("/src/fonts/SmileySans-Oblique.otf.woff2") format(woff2)
}

/* 斜线动态背景 */
.background::before,
.background::after {
    z-index: -3;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #43C9FE 20px, #5FDFF2 20px);
    background-size: 40px 40px;
    transform: rotate(37deg) scale(2);
    animation: lineAnimation 20s linear infinite;
}

.background::before {
    background-position: 0 0;
}

.background::after {
    background-position: 25px 25px;
}

@keyframes lineAnimation {
    0% {
        background-position: 0 0, 25px 25px;
    }

    100% {
        background-position: -80px -80px, -55px -55px;
    }
}

[data-tauri-drag-region] {
    -webkit-app-region: drag;
}

.titlebar {
    z-index: 10000;
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar::after {

    background-color: rgba(255, 255, 255, 0.9);
}

.titlebar-button {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: rgba(240, 240, 240, 0.5);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, calc(100% / 3));
    ;
}

#navigator {
    width: 256px;
    height: 512px;
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: calc(-166.667vh);
    align-self: center;
    justify-self: center;
    border: 10px solid #444;
    box-shadow: 0 0 20px 5px #000;
    z-index: -1;
}

#highlight {
    width: 246px;
    height: 96px;
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: calc(-166.667vh);
    align-self: center;
    justify-self: center;
    border: 8px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: 0 0 20px 5px #000;
    z-index: 100;
}

@keyframes highlightAnimation {
    0% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0);
    }
}

.studentName {
    /* 网格线对齐设置 */
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    letter-spacing: 0.2em;
    text-shadow: #0c455b 1px 0 10px;
    font-family: 'smiley-sans';
    user-select: none;
    position: relative;
    background: linear-gradient(60deg, #3DC7FF, #5ADCFF);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
    color: #fff;
    font-size: 52px;
    width: 260px;
    height: 110px;
    line-height: 114px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.studentName::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.6);
    /* 阴影 */
    z-index: -1;
    /* 将阴影置于元素的底层 */
}

.studentName::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 4px solid #fff;
    border-radius: 15px;
    z-index: 1;
    /* 将边框置于阴影之上 */
}

#btn {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 28px;
    font-family: 'smiley-sans';
    width: 100px;
    height: 72px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -5.5vw;
    text-align: center;
    user-select: none;
    position: relative;
    border-radius: 12px;
    left: 20px;
    background: rgb(76, 166, 255);
    border: none;
    color: white;
    box-shadow: 0 0 6px 6px rgba(52, 123, 182, 0.8);
}

#btn:hover {
    background: rgb(97, 160, 255);
}

#btn:disabled {
    color: #ccc;
    background: rgb(64, 132, 200);
}